extends layout


block title
  | Cloud Developers in Vancouver, BC | Countable


block meta
  meta(name='description', content='Vancouver, Canada web applicaton firm / Django developers.')


block content

  .resize-page.page#what
    .overlay
      img.logo(src="/images/giant-infinity.png")
      .slogan
        p.we
          | BUILD TOMORROW'S
        p.tomorrows
          | INTERNET
        p.web-apps
          | TODAY

  .page.resize-page#why
    .page-inner(
              data-bottom-top="transform:scale(0.5); opacity: 0.5",
              data-center-center="transform:scale(1); opacity: 1",
              data-top-bottom="transform:scale(2); opacity: 1")
        h3 WHY US?
        p
            | Building a world class web development
            | team and cloud infrastructure is hard.
            | Let us take care of that so it can amplify
            | your business instead of pulling away
            | resources.
    .page-inner(
              data-bottom-top="transform:scale(0.5); opacity: 0.5",
              data-center-center="transform:scale(1); opacity: 1",
              data-top-bottom="transform:scale(1); opacity: 0")
        .row-fluid
            .span6
                h4 Cloudify Your Product
                ul
                    li Web interfaces: Lead generation funnels, dashboards, core product UI
                    li APIs
                    li Device-specific apps
                    li Cloud-based infrastructure design
            .span6
                h4 Dev Capacity
                ul
                    li Build a world class in-house web development team
                    li Coding standards and 12 factor architecture conventions
                    li Continuous integration testing and deployment
                    li Agile / scrum workflow
                    li Hiring and training
        .row-fluid
            .span6
                h4 Operations
                ul
                    li Process automation
                    li Real time monitoring
                    li Big data collection and visualization
                    li Custom PLM, CRM, ERP built for your business on open source tooling
            .span6
                h4 Marketing
                ul
                    li SEO: Keyword analysis and strategy
                    li Growth hacking
                    li Engineering as marketing
                    li Content marketing strategy

  .page.resize-page#how(
            data-bottom-top="transform:scale(0.5); opacity: 0.5",
            data-center-center="transform:scale(1); opacity: 1",
            data-top-bottom="transform:scale(2); opacity: 0")
    .page-inner
      h3 TECHNOLOGY
      a(href="http://www.postgresql.org/", target="_blank")
        img(src="/images/howto-postgresql.png")
      a(href="http://djangoproject.com/", target="_blank")
        img(src="/images/django-logo-negative.png")
      a(href="http://nodejs.org/", target="_blank")
        img(src="/images/howto-nodejs.png")
      a(href='', target="_blank")
        img(src="/images/howto-html5-css3.png", style='max-width:400px;')

  .page.resize-page#who
    .page-inner
      h3 CLIENTS
      .container
          .row
            .span4
              .client(
                        data-bottom-top="transform:scale(0.6)",
                        data-center-center="transform:scale(1.1)",
                        data-top-bottom="transform:scale(1.2)")
                p.repr(style='position:relative')
                  img(src='/images/bawksbox.png' style='width:60%;')
                p HCB is a free, simple to use comments widget used on over a million web pages.
                p.visit
                  a(href="http://www.htmlcommentbox.com", target="_blank") Visit site &rsaquo;

            .span4
              .client(
                        data-bottom-top="transform:scale(0.4)",
                        data-center-center="transform:scale(1.1)",
                        data-top-bottom="transform:scale(1.2)")
                p.repr
                  img(src='/images/thisfish.png')
                p For Ecotrust Canada:
                  a(href="http://thisfish.info") ThisFish
                  |  traceability system (Django) ; Electronic commerical fishery monitoring software; Fisheries Diversification Model.
                p.visit
                  a(href="http://thisfish.info", target="_blank") Visit site &rsaquo;
            //
             .span4
              .client
                p.repr
                  img(src='/images/corvus.png')

                p
                  | Marine energy storage experts. Countable developed internal systems and provided SW engineering expertise.
                p.visit
                  a(href="http://corvusenergy.com", target="_blank") Visit site &rsaquo;

            .span4
              .client(
                        data-bottom-top="transform:scale(0.6)",
                        data-center-center="transform:scale(1.1)",
                        data-top-bottom="transform:scale(1.2)")
                p.repr
                  img(src='/images/clarius.png')
                p Cloud based ultrasound image capture and device management.
                p.visit
                  a(href="http://clarius.me", target="_blank") Visit site &rsaquo;

          .row
            .span4
              .client(
                        data-bottom-top="transform:scale(0.8)",
                        data-center-center="transform:scale(1.1)",
                        data-top-bottom="transform:scale(1.2)")
                p.repr
                  img(src='/images/animatic.svg')
                p WebGL work for global brands.
                p.visit
                  a(href="http://www.animaticmedia.com/", target="_blank") Visit site &rsaquo;
            .span4
              .client(
                        data-bottom-top="transform:scale(0.6)",
                        data-center-center="transform:scale(1.1)",
                        data-top-bottom="transform:scale(1.2)")
                p.repr
                  img(src='/images/kmc.png')
                p
                  | Shift scheduling and take-a-number Django applications.
                p.visit
                  a(href="http://kmc.countable.ca/", target="_blank") View App &rsaquo;

            .span4
              .client(
                        data-bottom-top="transform:scale(0.4)",
                        data-center-center="transform:scale(1.1)",
                        data-top-bottom="transform:scale(1.2)")
                p.repr
                  img(src='/images/otono.png')
                p
                  | Next generation telecom connectivity.
                p.visit
                  a(href="http://otono.com", target="_blank") View App &rsaquo;


  .page.resize-page#credits(data-bottom-top="opacity:0", data-center-center="opacity:1")
    .page-inner
      h1 credits
      p Web design by
      p
        a(href="http://newbrandthing.com", target="_blank")
          img(src="/images/nbt.png")
